$text-color: white;
$bg-color: #151510;
$bg-grid-color: #202000; /* TODO: IMPROVE */
$character-color: white;
$character-bg-color: black;
$speech-color: white;
$speech-grad-base-color: #141f18;
$speech-grad-dark-color: #050703;
$speech-grad-fade-color: #494000;
$gold: #dd9109;
$glow: #f0e4b9;
$mission-grad-base-color: #031300;
