@import "colors";

html {
	font-size: 16px;
	{%- capture svg -%}
		{%- include svg/background.svg -%}
	{%- endcapture -%}
	{% assign svg = svg | normalize_whitespace | replace: "#", "%23" %}
	background-image: url('data:image/svg+xml;utf8,{{ svg }}');
	background-repeat: repeat;
	background-size: auto;
	background-color: $bg-color;
	scroll-padding-top: 2em;
}

body {
	position: relative;
	font-family: sans-serif;
	line-height: 1.3rem;
	min-height: 100vh;
	color: $text-color;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

article, section {
	position: relative;
}

p {
	width: 100%;
	margin-bottom: 1em;
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	/* TODO: TEMP, IMPROVE */
	color: $glow;
	text-shadow: 0 0 1px $glow;
}

a[id] {
	display: block;
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	box-sizing: border-box;
	visibility: hidden;
}

code {
	display: inline-block;
	padding: 0.1em;
	font-family: monospace;
	background-color: #212121; // TODO: move to colors
	border-radius: 0.2em;
}
