
@for $i from 1 through 5 {
	h#{$i} {
		font-weight: bold;
		line-height: 2rem;
		padding-left: 0.5rem;
	}
}

h1 { /* page title */
	padding-top: 5rem;
	padding-bottom: 1rem;
	padding-left: 0;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: $gold;
	text-shadow: 0 0 10px $gold;
}

h2 { /* chapters */
	margin-top: 2rem;
	padding-left: 0;
	font-size: 1.5rem;
	text-align: center;
}

h3 { /* episodes */
	font-size: 1.5rem;
}

h4 { /* missions */
	font-size: 1.3rem;
}

h5 { /* sections */
	font-size: 1.1rem;
}
