@import "mixins";

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	p {
		text-align: center;
		box-sizing: border-box;
		padding: 0 1em;
		
		strong {
			display: block;
			margin-top: 0.5em;
			font-size: 1.3rem;
		}
	}
	
	li {
		@include margin-bottom(0.5rem);
	}
}
