@import "mixins";

ol, ul {
	list-style-position: outside;
	@include margin-bottom(1em);
}

ol ol, ul ul, ol ul, ul ol {
	margin-top: 0.25em;
	margin-left: 1em;
}

ol li {
	list-style-type: decimal;
}

ul li {
	list-style-type: disc;
}

li {
	margin-left: 1em;
	@include margin-bottom(0.25em);
}
