@mixin story-box {
	display: block;
	box-sizing: border-box;
	position: relative;
	width: 30em;
	max-width: 100%;
}

@mixin glow-filter($size, $color) {
	@include filter(drop-shadow(0 0 $size $color));
}

@mixin small-screen {
	@media screen and (max-width: 30em) {
		@content;
	}
}

@mixin except-last($property, $value, $default) {
	#{$property}: $value;
	
	&:last-child {
		#{$property}: $default;
	}
}

@mixin margin-bottom($size) {
	@include except-last(margin-bottom, $size, 0);
}

@mixin margin-right($size) {
	@include except-last(margin-right, $size, 0);
}

@mixin clip-path($shape) {
	clip-path: $shape;
	-webkit-clip-path: $shape;
}

@mixin filter($filters) {
	filter: $filters;
	-webkit-filter: $filters;
}
