#toc-show:checked + #toc {
	display: flex;
}

#toc {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	
	* {
		list-style-type: none;
	}
	& > li {
		width: fit-content;
		
		a {
			display: inline-block;
			max-width: 20em;
		}
	}
	ol ol {
		padding-left: 0.5em;
	}
}
