@import "colors";

#toc-header {
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: $bg-color;
	z-index: 573;
	border-bottom: solid 2px $text-color;
	
	#toc-nav {
		max-width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		.toc-nav-group {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}
}
