@import "colors";
@import "mixins";

#tl-heading p {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 0 0 10px $text-color;
}

#tl-tutorial {
	background-color: rgba(82, 149, 0, 0.3);
	margin: 1em;
	padding: 1em;
}

#tl-download {
	position: fixed;
	top: 1em;
	width: 100%;
	pointer-events: none;
	
	#tl-download-button {
		display: block;
		margin: auto;
		pointer-events: all;
	}
}

#tl-progress {
	margin-left: 0.5rem;
	margin-bottom: 1rem;
}

.tl-warnings {
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: rgba(255, 0, 0, 0.3); // TODO: move to colors
	
	p {
		@include margin-bottom(0.5em);
	}
	
	&:empty {
		display: none;
	}
}

.tl-dialogue {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	border-bottom: 1px solid $glow;
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
	
	& > * {
		@include margin-right(1em);
	}
}

.tl-id {
	width: 6em;
}

.tl-character {
	width: 10em;
	
	.tl-name, .tl-variant, .tl-expression {
		display: block;
	}
	.tl-name {
		font-weight: bold;
	}
	.tl-variant {
		word-wrap: break-word;
	}
}

.tl-text-original, .tl-text-translation {
	width: 23em;
}

.tl-input-box {
	flex-grow: 1;
}
