@import "colors";
@import "mixins";

.character {
	@include story-box;
	
	padding: 0.25em 2em;
	padding-bottom: 0.75em;
	color: $character-color;
	background-color: $character-bg-color;
	@include clip-path(polygon(
		/* top left corner */
		1.5em 0,
		/* top right corner */
		calc(100% - 1.5em) 0,
		/* right point */
		calc(100% - 0.5em) 50%,
		/* bottom right corner */
		calc(100% - 1.5em) 100%,
		/* bottom cutout */
		70% 100%, calc(70% - 0.25em) calc(100% - 0.25em),
		/* bottom left corner */
		1.5em calc(100% - 0.25em), 0.75em 50%
	));
	transform: translateY(0.75em);
	
	br {
		display: none;
	}
	.character-name {
		font-weight: bold;
	}
}
.character-wrapper {
	@include glow-filter(1px, white);
	z-index: 24;
}
