@import "mixins";

.cue {
	display: block;
	box-sizing: border-box;
	min-width: 30em;
	padding: 0.75em 2.5em;
	text-align: center;
// 	background-color: black;
// 	clip-path: polygon(
// 		/* left point */
// 		1em 50%,
// 		/* top left corner */
// 		2em 0,
// 		/* top right corner */
// 		calc(100% - 2em) 0,
// 		/* right point */
// 		calc(100% - 1em) 50%,
// 		/* bottom right corner */
// 		calc(100% - 2em) 100%,
// 		/* bottom left corner */
// 		2em 100%
// 	);
}
// .cue-wrapper {
// 	filter: drop-shadow(0 0 3px white);
// }
@include small-screen {
	.cue, .cue-wrapper {
		min-width: unset;
		width: 100%;
	}
}
