@import "colors";

.mission-prompt {
	@include story-box;
	
	padding: 1em;
	padding-top: 1.25em;
	background: linear-gradient(
		-90deg,
		$mission-grad-base-color,
		$speech-grad-dark-color 40%,
		$speech-grad-dark-color 75%,
		$speech-grad-fade-color
	);
	@include clip-path(polygon(
		/* top left corner */
		0 0.25em, 0.25em 0,
		/* top cutout */
		30% 0, calc(30% + 0.5em) 0.5em,
		/* top right corner */
		calc(100% - 0.5em) 0.5em, 100% 1em,
		/* bottom right corner */
		100% calc(100% - 0.25em), calc(100% - 0.25em) 100%,
		/* bottom cutout */
		80% 100%, calc(80% - 0.25em) calc(100% - 0.25em),
		/* bottom left corner */
		0.5em calc(100% - 0.25em), 0 calc(100% - 0.75em)
	));
	
	@include small-screen {
		@include clip-path(unset);
		padding: 0.75em;
	}
}
.mission-prompt-wrapper {
	// @include glow-filter(3px, $gold);
	@include filter(drop-shadow(0 0 2px $gold) drop-shadow(0 0 1px white));
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
