@import "colors";
@import "mixins";

.speech {
	@include story-box;
	
	padding: 1.25em 0.5em 1em 2em;
	color: $speech-color;
	background: linear-gradient(
		90deg,
		$speech-grad-base-color,
		$speech-grad-dark-color 30%,
		$speech-grad-dark-color 50%,
		$speech-grad-fade-color
	);
	@include clip-path(polygon(
		/* top left corner */
		0 0.5em, 0.5em 0,
		/* top right corner */
		calc(100% - 0.5em) 0, 100% 0.5em,
		/* bottom right corner */
		100% calc(100% - 0.5em), calc(100% - 0.5em) 100%,
		/* bottom cutout */
		50% 100%, calc(50% - 0.25em) calc(100% - 0.25em),
		/* bottom left corner */
		0.5em calc(100% - 0.25em), 0 calc(100% - 0.75em)
	));
	
	@include small-screen {
		@include clip-path(unset);
		padding-left: 0.5em;
	}
}	
.speech-wrapper {
	@include glow-filter(1px, white);
	position: relative;
}
.speech-anchor{
	display: block;
	position: absolute;
	right: 0.5em;
	bottom: 1em;
	width: 0.5em;
	height: 0.5em;
	background-color: $glow;
	box-shadow: 0 0 2px $glow;
	transform: rotate(45deg);
	
	@include small-screen {
		bottom: 0.75em;
	}
}

.map > p, .section > p {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	& > * {
		display: block;
		max-width: 100%;
	}
}
