<!DOCTYPE html>

{% include title.liquid %}

{% assign lang = page.lang
	| default: layout.lang
	| default: "en"
%}

<html lang="{{ lang }}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<style>
		{%- capture styles -%}
			{%- include index.scss -%}
		{%- endcapture -%}
		{{- styles | scssify -}}
	</style>
	<title>{{ title }}</title>
</head>

<body>
	{{ content }}
</body>

</html>
