---
layout: base
---

{% include title.liquid %}

<h1>{{ title }} (WIP!)</h1>

<a href="/">Back to home page</a>

<br/><br/>
<label for="toc-show">Show TOC</label>
<input id="toc-show" type="checkbox" />
{% include {{ page.include_path | append: "toc.html" }} %}

<main>
	{% include {{ page.include_path | append: "story.html" }} %}
</main>

{% comment %}
<script>
	{% include {{ page.include_path | append: "toc-data.js" }} %}
	{% include js/toc.js %}
</script>
{% endcomment %}
