---
layout: base
---

{% include title.liquid %}

<hgroup id="tl-heading">
	<h1>SDVX III Mission Mode Story</h1>
	<p>Translator Mode ({{ page.lang | upcase }})</p>
</hgroup>

<a href="/">Back to home page</a>
<br/></br>

<div id="tl-tutorial">
	{% capture tutorial %}
		{%- include translator-tutorial.md -%}
	{% endcapture %}
	{{- tutorial | markdownify -}}
</div>

<main>
	{% include {{ page.include_path | append: "translator.html" }} %}
</main>

<aside id="tl-download">
	<button id="tl-download-button">
		Save translation file
	</button>
</aside>

<script>
	{% include js/translator.js %}
</script>
